In [1]:
# Author: ehud@volcani.agri.gov.il

In [22]:
%reset -f

In [28]:
import os
import glob 
import pandas as pd
import numpy as np

In [53]:
# change the value of the variable `directory` to "control", "stage1", "stage2" or "stage3"
directory="stage3"
os.chdir(os.path.join(r"C:\Users\ehud\Documents\bell-pepper\2025-04-0609", directory)) # Set the current working directory
csv_files=glob.glob("*.csv")  # Find all .csv files in the directory "directory"

In [54]:
csv_files

[' 001.csv',
 ' 002.csv',
 ' 003.csv',
 ' 004.csv',
 ' 005.csv',
 ' 006.csv',
 ' 007.csv',
 ' 008.csv',
 ' 009.csv',
 ' 010.csv',
 ' 011.csv',
 ' 012.csv',
 ' 013.csv',
 ' 014.csv',
 ' 015.csv',
 ' 016.csv',
 ' 017.csv',
 ' 018.csv',
 ' 019.csv',
 ' 020.csv',
 ' 021.csv',
 ' 022.csv',
 ' 023.csv',
 ' 024.csv',
 ' 025.csv',
 ' 026.csv',
 ' 027.csv',
 ' 028.csv',
 ' 029.csv',
 ' 030.csv',
 ' 031.csv',
 ' 032.csv',
 ' 033.csv',
 ' 034.csv',
 ' 035.csv',
 ' 036.csv',
 ' 037.csv',
 ' 038.csv',
 ' 039.csv',
 ' 040.csv',
 ' 041.csv',
 ' 042.csv',
 ' 043.csv',
 ' 044.csv',
 ' 045.csv',
 ' 046.csv',
 ' 047.csv',
 ' 048.csv',
 ' 049.csv',
 ' 050.csv',
 ' 051.csv',
 ' 052.csv',
 ' 053.csv',
 ' 054.csv',
 ' 055.csv',
 ' 056.csv',
 ' 057.csv',
 ' 058.csv',
 ' 059.csv',
 ' 060.csv',
 ' 061.csv',
 ' 062.csv',
 ' 063.csv',
 ' 064.csv',
 ' 065.csv',
 ' 066.csv',
 ' 067.csv',
 ' 068.csv',
 ' 069.csv',
 ' 070.csv',
 ' 071.csv',
 ' 072.csv',
 ' 073.csv',
 ' 074.csv',
 ' 075.csv',
 ' 076.csv',
 ' 077.csv',
 ' 078.csv',
 ' 079.csv',
 ' 080.csv',
 ' 081.csv',
 ' 082.csv',
 ' 083.csv',
 ' 084.csv',
 ' 085.csv',
 ' 086.csv',
 ' 087.csv',
 ' 088.csv',
 ' 089.csv',
 ' 090.csv',
 ' 091.csv',
 ' 092.csv',
 ' 093.csv',
 ' 094.csv',
 ' 095.csv',
 ' 096.csv',
 ' 097.csv',
 ' 098.csv',
 ' 099.csv',
 ' 100.csv',
 ' 101.csv',
 ' 102.csv',
 ' 103.csv',
 ' 104.csv',
 ' 105.csv',
 ' 106.csv',
 ' 107.csv',
 ' 108.csv',
 ' 109.csv',
 ' 110.csv',
 ' 111.csv',
 ' 112.csv',
 ' 113.csv',
 ' 114.csv',
 ' 115.csv',
 ' 116.csv',
 ' 117.csv',
 ' 118.csv',
 ' 119.csv',
 ' 120.csv']

In [55]:
# from each csv file in the current working directory, read only the "Intensity" column and concatenate all columns to one dataframe, which we shall call `dataset`:
dataset=pd.concat(
    [
        pd.read_csv(file, usecols=["Intensity"]).rename(
            columns={"Intensity": os.path.splitext(file)[0]}
        )
        for file in csv_files
    ],
    axis=1
)
#dataset

In [45]:
# prepend to this dataframe the wavelength column and reset the result. The wv column is taken from one of the csv files that has already been read to the above dataframe.
# All wv columns in this directory should be identical; For convenience we take the column from the first file.

# Read the Wavelength column from the first csv file
wavelength = pd.read_csv(csv_files[0], usecols=["Wavelength"])


dataset=pd.concat([pd.read_csv(csv_files[0], usecols=["Wavelength"]).rename(columns={"Wavelength":"wv"}), dataset], axis=1)

In [46]:
dataset

,wv,001,002,003,004,005,006,007,008,009,...,111,112,113,114,115,116,117,118,119,120
0,804.404322,52180,47235,43751,44252,39627,44941,42384,39088,38435,...,44517,45024,45114,43667,45069,50907,48034,47418,50095,45171
1,804.674093,52921,47899,44381,44720,40282,45433,43367,39360,38523,...,45201,45369,46105,44422,45938,51344,48418,48017,50612,45743
2,804.943872,52943,48253,44967,45196,41027,45901,43812,39957,38746,...,46131,46009,46270,45253,46260,51604,49195,48376,51197,46244
3,805.213661,53568,48579,45113,45458,40745,46319,43624,39895,39413,...,46104,46296,46279,44792,46690,52130,49233,48922,51709,46442
4,805.483458,53362,48523,44972,45984,41070,46826,43691,39964,39490,...,46035,46119,46358,44925,46518,52397,49504,48662,51399,46689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1080.210034,2544,2789,4316,2468,2183,3434,4577,4010,1970,...,2100,3614,2023,2266,3121,4489,1868,1744,1820,2270
1020,1080.477879,2389,2737,4167,2447,2168,3378,4737,3985,1963,...,2073,3518,1974,2300,3013,4411,1778,1684,1850,2178
1021,1080.745711,2451,2724,4118,2437,2123,3348,4563,3971,1940,...,2128,3543,1927,2216,2971,4425,1718,1743,1740,2134
1022,1081.013530,2371,2753,4086,2431,2065,3368,4590,3929,1933,...,2199,3548,1914,2213,2932,4360,1739,1753,1807,2198
1023,1081.281337,2348,2718,4115,2524,2106,3358,4442,3813,1859,...,2059,3457,1886,2243,2859,4297,1698,1662,1732,2122

In [47]:
# Create a new dataframe with the value of numerical integral of spectral intensity vs. wavelength, for each column:
results = {}

for col in range(dataset.shape[1] - 1):
    col_name = dataset.columns[col + 1]
    integral = np.trapezoid(dataset.iloc[:, col + 1], dataset['wv'])
    results[col_name] = integral
# Convert the results to a DataFrame if needed
integrals = pd.DataFrame([results])
del results
del col_name
del integral
integrals

,001,002,003,004,005,006,007,008,009,010,...,111,112,113,114,115,116,117,118,119,120
0,7.409123e+06,7.015312e+06,7.885222e+06,6.739168e+06,6.088904e+06,7.115420e+06,8.090240e+06,6.977859e+06,6.564119e+06,7.390417e+06,...,6.465222e+06,6.811443e+06,6.308446e+06,6.455948e+06,6.687574e+06,7.827063e+06,6.820505e+06,7.250141e+06,6.730236e+06,6.577190e+06

In [48]:
# check that `openpyxl` is installed (pandas engine used to read xls files.
# pip install openpyxl
# read the correspondence file that matches measurement and its exposure time:
deltat = pd.read_excel(
    r"..\correspondence_exposure_times.xlsx",
    sheet_name=directory,
    dtype={"file name": str}  # Specify the column to be read as string
).iloc[:, -2:] # import only the last two columns in the excel sheet
deltat

    file name  exposure time (s)
0     001.csv               1.20
1     002.csv               0.85
2     003.csv               0.70
3     004.csv               0.60
4     005.csv               0.60
..        ...                ...
115   116.csv               0.35
116   117.csv               0.65
117   118.csv               0.55
118   119.csv               0.45
119   120.csv               1.50

[120 rows x 2 columns]

In [49]:
# Add a new row to the integrals dataset using values from the times column in `deltat`, matched by column names in `integrals` and filenames in deltat. 
# Match the exposure times from deltat with the column names in integrals

##### This cell doesn't work for some reason

# Match the exposure times from deltat with the column names in integrals
exposure_times = deltat.set_index('file name')['exposure time (s)']

# Add the exposure times as a new row to the integrals DataFrame
integrals.loc[1] = exposure_times.values
integrals

,001,002,003,004,005,006,007,008,009,010,...,111,112,113,114,115,116,117,118,119,120
0,7.409123e+06,7.015312e+06,7.885222e+06,6.739168e+06,6.088904e+06,7.115420e+06,8.090240e+06,6.977859e+06,6.564119e+06,7.390417e+06,...,6.465222e+06,6.811443e+06,6.308446e+06,6.455948e+06,6.687574e+06,7.827063e+06,6.820505e+06,7.250141e+06,6.730236e+06,6.577190e+06
1,1.200000e+00,8.500000e-01,7.000000e-01,6.000000e-01,6.000000e-01,1.100000e+00,7.000000e-01,5.000000e-01,1.800000e+00,7.500000e-01,...,5.000000e-01,4.500000e-01,3.500000e-01,2.500000e-01,2.500000e-01,3.500000e-01,6.500000e-01,5.500000e-01,4.500000e-01,1.500000e+00

In [50]:
# Divide the first row (propto power) by the second row (exposure time) to get a measure for the energy arriving to the sensor
integrals.loc[2] = integrals.loc[0] / integrals.loc[1]
integrals

,001,002,003,004,005,006,007,008,009,010,...,111,112,113,114,115,116,117,118,119,120
0,7.409123e+06,7.015312e+06,7.885222e+06,6.739168e+06,6.088904e+06,7.115420e+06,8.090240e+06,6.977859e+06,6.564119e+06,7.390417e+06,...,6.465222e+06,6.811443e+06,6.308446e+06,6.455948e+06,6.687574e+06,7.827063e+06,6.820505e+06,7.250141e+06,6.730236e+06,6.577190e+06
1,1.200000e+00,8.500000e-01,7.000000e-01,6.000000e-01,6.000000e-01,1.100000e+00,7.000000e-01,5.000000e-01,1.800000e+00,7.500000e-01,...,5.000000e-01,4.500000e-01,3.500000e-01,2.500000e-01,2.500000e-01,3.500000e-01,6.500000e-01,5.500000e-01,4.500000e-01,1.500000e+00
2,6.174269e+06,8.253308e+06,1.126460e+07,1.123195e+07,1.014817e+07,6.468564e+06,1.155749e+07,1.395572e+07,3.646733e+06,9.853889e+06,...,1.293044e+07,1.513654e+07,1.802413e+07,2.582379e+07,2.675030e+07,2.236304e+07,1.049308e+07,1.318208e+07,1.495608e+07,4.384793e+06

In [51]:
# Calculate the mean of the control group (mean of the last row in `integrals`)
average_energy = integrals.loc[2].mean()

In [52]:
# Write the result to a text file in the current working directory
with open('..\\average_energy.txt', 'a') as f:
    f.write(f"{directory}\t{average_energy}\n")

In [ ]:
def myfunc(directory):
    os.chdir(os.path.join(r"C:\Users\ehud\Documents\bell-pepper\2025-04-0609", directory)) # Set the current working directory
    print("Current working directory is\n", os.getcwd())
    csv_files=glob.glob("*.csv")  # Find all .csv files in the current working directory
    # from each csv file in the current working directory, read only the "Intensity" column and concatenate all columns to one dataframe, which we shall call `dataset`:
    dataset=pd.concat(
        [
            pd.read_csv(file, usecols=["Intensity"]).rename(
                columns={"Intensity": os.path.splitext(file)[0]}
            )
            for file in csv_files
        ],
        axis=1
    )
    # prepend to this dataframe the wavelength column and reset the result. The wv column is taken from one of the csv files that has already been read to the above dataframe.
    # All wv columns in this directory should be identical; For convenience we take the column from the first file.

    # Read the Wavelength column from the first csv file
    wavelength = pd.read_csv(csv_files[0], usecols=["Wavelength"])


    dataset=pd.concat([pd.read_csv(csv_files[0], usecols=["Wavelength"]).rename(columns={"Wavelength":"wv"}), dataset], axis=1)
    return dataset
    # Create a new dataframe with the value of numerical integral of spectral intensity vs. wavelength, for each column:
    results = {}

    for col in range(dataset.shape[1] - 1):
        col_name = dataset.columns[col + 1]
        integral = np.trapezoid(dataset.iloc[:, col + 1], dataset['wv'])
        results[col_name] = integral
    # Convert the results to a DataFrame if needed
    integrals = pd.DataFrame([results])
    del results
    del col_name
    del integral
    return integrals
    # check that `openpyxl` is installed (pandas engine used to read xls files.
    # pip install openpyxl
    # read the correspondence file that matches measurement and its exposure time:
    deltat = pd.read_excel(
        r"..\correspondence_exposure_times.xlsx",
        sheet_name=directory,
        dtype={"file name": str}  # Specify the column to be read as string
    ).iloc[:, -2:] # import only the last two columns in the excel sheet
    deltat
    # Add a new row to the integrals dataset using values from the times column in `deltat`, matched by column names in `integrals` and filenames in deltat. 
    # Match the exposure times from deltat with the column names in integrals

    ##### This cell doesn't work for some reason

    # Match the exposure times from deltat with the column names in integrals
    exposure_times = deltat.set_index('file name')['exposure time (s)']

    # Add the exposure times as a new row to the integrals DataFrame
    integrals.loc[1] = exposure_times.values
    return integrals
    
myfunc("stage3")

Current working directory is
 C:\Users\ehud\Documents\bell-pepper\2025-04-0609\stage3

,wv,001,002,003,004,005,006,007,008,009,...,111,112,113,114,115,116,117,118,119,120
0,804.404322,52180,47235,43751,44252,39627,44941,42384,39088,38435,...,44517,45024,45114,43667,45069,50907,48034,47418,50095,45171
1,804.674093,52921,47899,44381,44720,40282,45433,43367,39360,38523,...,45201,45369,46105,44422,45938,51344,48418,48017,50612,45743
2,804.943872,52943,48253,44967,45196,41027,45901,43812,39957,38746,...,46131,46009,46270,45253,46260,51604,49195,48376,51197,46244
3,805.213661,53568,48579,45113,45458,40745,46319,43624,39895,39413,...,46104,46296,46279,44792,46690,52130,49233,48922,51709,46442
4,805.483458,53362,48523,44972,45984,41070,46826,43691,39964,39490,...,46035,46119,46358,44925,46518,52397,49504,48662,51399,46689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1080.210034,2544,2789,4316,2468,2183,3434,4577,4010,1970,...,2100,3614,2023,2266,3121,4489,1868,1744,1820,2270
1020,1080.477879,2389,2737,4167,2447,2168,3378,4737,3985,1963,...,2073,3518,1974,2300,3013,4411,1778,1684,1850,2178
1021,1080.745711,2451,2724,4118,2437,2123,3348,4563,3971,1940,...,2128,3543,1927,2216,2971,4425,1718,1743,1740,2134
1022,1081.013530,2371,2753,4086,2431,2065,3368,4590,3929,1933,...,2199,3548,1914,2213,2932,4360,1739,1753,1807,2198
1023,1081.281337,2348,2718,4115,2524,2106,3358,4442,3813,1859,...,2059,3457,1886,2243,2859,4297,1698,1662,1732,2122